div {
  position: relative;
}

body {
  font-family: sans-serif;
  font-weight: bold;
  background-color: black;
}

.blue {
  background-image: url(https://i.imgur.com/H1uK45i.jpg);
}

.green {
  background-image: url(https://i.imgur.com/dAIZPHY.jpg);
}

.red {
  background-image: url(https://i.imgur.com/DbPelDi.jpg);
}

.grey {
  background-image: url(https://i.imgur.com/N0O6aqj.jpg);
}

.pink {
  background-image: url(https://i.imgur.com/mtBlNyb.jpg);
}

.gameboard {
}

.card,
.card-actions,
.tableau,
.stack,
.deck {
  width: 100px;
  height: 150px;
  border: 2px solid black;
  border-radius: 6px;
  background-color: rgba(117, 117, 117, 0.5);
}

.card {
  background-image: url(https://i.imgur.com/71h4dF9.jpg);
  background-size: calc(100% * 10) calc(100% * 7);
}

.card-playable:hover {
  transform: scale(1.2);
  z-index: 10;
}

.card-actions {
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.card:hover > .card-actions {
  display: inline-block;
}

.card-actions > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

.card-playable:hover > .card-actions > * {
  /* width: 200%; */
  /* height: 200%; */
  /* transform: scale(calc(1 / 2)) translate(-50%, -50%); */
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.face-top {
  background-image: url(https://i.imgur.com/qyBevNb.jpg);
  background-size: 100% 100%;
}

.face-1 {
  background-position-x: calc(0 * 100% / 9);
  background-position-y: calc(0 * 100% / 6);
}
.face-2 {
  background-position-x: calc(1 * 100% / 9);
  background-position-y: calc(0 * 100% / 6);
}
.face-3 {
  background-position-x: calc(2 * 100% / 9);
  background-position-y: calc(0 * 100% / 6);
}
.face-4 {
  background-position-x: calc(3 * 100% / 9);
  background-position-y: calc(0 * 100% / 6);
}
.face-5 {
  background-position-x: calc(4 * 100% / 9);
  background-position-y: calc(0 * 100% / 6);
}
.face-6 {
  background-position-x: calc(5 * 100% / 9);
  background-position-y: calc(0 * 100% / 6);
}
.face-7 {
  background-position-x: calc(6 * 100% / 9);
  background-position-y: calc(0 * 100% / 6);
}
.face-8 {
  background-position-x: calc(7 * 100% / 9);
  background-position-y: calc(0 * 100% / 6);
}
.face-9 {
  background-position-x: calc(8 * 100% / 9);
  background-position-y: calc(0 * 100% / 6);
}
.face-10 {
  background-position-x: calc(9 * 100% / 9);
  background-position-y: calc(0 * 100% / 6);
}
.face-11 {
  background-position-x: calc(0 * 100% / 9);
  background-position-y: calc(1 * 100% / 6);
}
.face-12 {
  background-position-x: calc(1 * 100% / 9);
  background-position-y: calc(1 * 100% / 6);
}
.face-w {
  background-position-x: calc(2 * 100% / 9);
  background-position-y: calc(1 * 100% / 6);
}

.deck {
}
.tableau {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  text-transform: capitalize;
  font-size: 50;
}

.tableau-container {
  display: inline-flex;
  flex-direction: column;
}

.tableau .card {
  position: absolute;
  top: -2px;
  left: -2px;
}
.card .card {
  position: absolute;
  top: 20px;
  left: -2px;
}

.tableaus {
  display: flex;
  align-items: flex-end;
  /* margin-bottom: 30px; */
}
.tableaus > *,
.hand > * {
  margin: 10px;
  font-size: 40px;
}
.hand {
  display: flex;
  flex-direction: row;
  /* margin-top: 100px; */
}
.player {
}
.player-name {
}
.stack {
}

.stack .deck,
.deck .card,
.card-actions {
  position: absolute;
  bottom: -2px;
  left: -2px;
}

#colors {
  display: flex;
  flex-direction: row;
}
.color-choice {
  width: 2em;
  height: 1.5em;
  background-size: 5000%;
}

#root {
}
#players {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  /* width: 100%; */
}

#player {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
#controls {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.draw-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  background-size: contain;
  overflow: hidden;
  padding-left: 100px;
}

.home-turf {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

#color {
  display: flex;
  justify-content: space-between;
}
