div {
  position: relative;
}

body {
  font-family: sans-serif;
  font-weight: bold;
}

.gameboard {
}

.card,
.card-actions,
.tableau,
.stack,
.deck {
  width: 50px;
  height: 80px;
  border: 2px solid black;
  border-radius: 6px;
  background-color: rgba(117, 117, 117, 0.5);
}

.card {
  background-image: url(https://i.imgur.com/71h4dF9.jpg);
  background-size: 500px 560px;
  background-position: -450px -480px;
}

.card-playable:hover {
  transform: scale(1.6);
  z-index: 10;
}

.card-actions {
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.card-playable:hover > .card-actions {
  display: inline-block;
}

.card-actions > * {
  width: 200%;
  height: 200%;
  transform: scale(calc(1 / 2)) translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* .face-undefined {
  background-image: image(https://i.imgur.com/JxhVccO.jpg#xywh=0,0,20,20);
} */
.face-1 {
  background-position-x: 0px;
  background-position-y: 0px;
}
.face-2 {
  background-position-x: -50px;
  background-position-y: 0px;
}
.face-3 {
  background-position-x: -100px;
  background-position-y: 0px;
}
.face-4 {
  background-position-x: -150px;
  background-position-y: 0px;
}
.face-5 {
  background-position-x: -200px;
  background-position-y: 0px;
}
.face-6 {
  background-position-x: -250px;
  background-position-y: 0px;
}
.face-7 {
  background-position-x: -300px;
  background-position-y: 0px;
}
.face-8 {
  background-position-x: -350px;
  background-position-y: 0px;
}
.face-9 {
  background-position-x: -400px;
  background-position-y: 0px;
}
.face-10 {
  background-position-x: -450px;
  background-position-y: 0px;
}
.face-11 {
  background-position-x: 0px;
  background-position-y: -80px;
}
.face-12 {
  background-position-x: -50px;
  background-position-y: -80px;
}
.face-w {
  background-position-x: -100px;
  background-position-y: -80px;
}

.deck {
}
.tableau {
}
.tableau-container {
  display: inline-flex;
  flex-direction: column;
}

.tableau .card {
  position: absolute;
  top: -2px;
  left: -2px;
}
.card .card {
  position: absolute;
  top: 10px;
  left: -2px;
}

.tableaus {
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
}
.tableaus > *,
.hand > * {
  margin: 2px;
}
.hand {
  display: flex;
  flex-direction: row;
}
.player {
}
.player-name {
}
.stack {
}

.stack .deck,
.deck .card,
.card-actions {
  position: absolute;
  bottom: -2px;
  left: -2px;
}

#root {
}
#players {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
#player {
}

.draw-button {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 20;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
